@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-font: "Poppins", sans-serif;
  --heading-font: "Montserrat", sans-serif;

  --blue-gradient: linear-gradient(99.94deg, #004eff 0.57%, #222fc1 64.88%);
  --orange-gradient: linear-gradient(93.13deg, #fa4d14 0%, #ffb300 134.97%);

  --white: #fff;

  --primary-700: #271fe0;
  --primary-600: #4945ff;
  --primary-500: #7b79ff;
  --primary-200: #d9d8ff;
  --primary-100: #f0f0f0;

  --success-700: #2f6846;
  --success-600: #328048;
  --success-500: #5cb176;
  --success-200: #c6f0c2;
  --success-100: #eafbe7;

  --danger-700: #b72b1a;
  --danger-600: #d02b20;
  --danger-500: #ee5e52;
  --danger-200: #f5c0b8;
  --danger-100: #fcecea;

  --neutral-900: #212134;
  --neutral-800: #32324d;
  --neutral-700: #4a4a6a;
  --neutral-600: #666687;
  --neutral-500: #8e8ea9;
  --neutral-400: #a5a5ba;
  --neutral-300: #c0c0cf;
  --neutral-200: #dcdce4;
  --neutral-150: #eaeaef;
  --neutral-100: #f6f6f6;
  --neutral-0: #fff;
}

body {
  font-family: var(--body-font);
  background-color: var(--neutral-150);

  padding: 2rem;
  color: var(--neutral-900);
}
@media screen and (max-width: 600px) {
  body {
    padding: 4rem 0.6rem;
    padding-bottom: 6rem;
  }
}

input,
textarea,
button {
  font-family: var(--body-font);
}
label {
  color: gray;
  font-size: 0.8rem;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}
a {
  color: var(--neutral-900);
  text-decoration: none;
}

.art-dropdown {
  right: 0;
  top: 100%;
  text-align: right;
}

.placeholder {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 4rem;
  color: var(--neutral-400);
}

@media screen and (max-width: 600px) {
  .placeholder {
    min-height: 10rem;
  }
}
